<!DOCTYPE html>
<html>

<head>
    <h1>Admin test page</h1>
</head>

<body>
    <%-userList%>
        <form action="/permit" method="post">
            <label><input type="checkbox" name="permit" value="1">Permission</label>
            <p><input type="submit" value="Submit"></p>
        </form>
</body>

</html>