<!DOCTYPE html>
<html lang="en">

<head>
    <title>ILLEGATOR WEB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js" type="text/javascript"></script>
    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            background-color: #ffffff;
            border: 1px solid lightgray;
        }
    </style>
</head>

<body>

    <nav class="navbar fixed-top border-bottom" style="background-color: #ffffff; border-color: #eeeeee;">
        <div class="col-md-3">
            <a class="navbar-brand" href="/" style="color: #b1b1b1;">🐊 Illegator</a>
        </div>
        <div class="col-md-7">
            <a class="navbar-brand" href="/" style="color:black;">Home</a>
        </div>
        <div class="col-md-1">
            <a class="navbar-user" id="nav-user-name" href="/" style="color:black;">
                <%= uid %> 님
            </a>
        </div>
        <script>
            console.log("hihihihihihi");
            console.log(uid);
        </script>
        <div class="col-md-1">
            <form id="logout-form" class="form" action="/logout" method="post">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="로그아웃">
            </form>
        </div>

    </nav>

    <!-- <div class="jumbotron text-center my-0" id='title_container'>
        <h1>ILLEGATOR WEBPAGE</h1>
        <p>We will eat aLL of Illegal websites out!</p> 
    </div> -->

    <div class="container-fluid" id='body_container' style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-3 min-vh-100 mx-auto" style="background-color:#f5f5f5; padding-top: 20px;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search!">
                    <span class="input-group-btn mx-1">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
                <nav class="nav my-3 flex-column">
                    <button type="button" class="btn btn-secondary" data-toggle="collapse"
                        data-target="#drop_btn_1">버튼▼</button>
                    <div class="collapse_container collapse" id="drop_btn_1">
                        <a class="nav-link pt-3" href="#" style="color: black;">미정 링크1</a>
                        <a class="nav-link pt-3" href="#" style="color: black;">미정 링크2</a>
                        <a class="nav-link pt-3" href="#" style="color: black;">미정 링크3</a>
                        <a class="nav-link pt-3" href="#" style="color: black;">미정 링크4</a>
                    </div>

                </nav>
            </div>
            <div class="col-md-9 min-vh-100" style="background-color: #eeeeee;">
                <div id="mynetwork" class="my-3"></div>
                <script type="text/javascript">
                    // create an array with nodes
                    var nodes = new vis.DataSet([
                        { id: 1, label: "Node 1" },
                        { id: 2, label: "Node 2" },
                        { id: 3, label: "Node 3" },
                        { id: 4, label: "Node 4" },
                        { id: 5, label: "Node 5" },
                    ]);

                    // create an array with edges
                    var edges = new vis.DataSet([
                        { from: 1, to: 3 },
                        { from: 1, to: 2 },
                        { from: 2, to: 4 },
                        { from: 2, to: 5 },
                        { from: 3, to: 3 },
                    ]);

                    // create a network
                    var container = document.getElementById("mynetwork");
                    var data = {
                        nodes: nodes,
                        edges: edges,
                    };
                    var options = {};
                    var network = new vis.Network(container, data, options);
                </script>
            </div>
        </div>

</body>

<script>
</script>

</html>


<script>
    console.log(document.querySelector("#nav-user-name").DataSet);
    console.log("hi");
    var mainVue = new Vue({
        el: '#nav-user-name',
    })
</script>