<!DOCTYPE html>
<html>

<head>Test Register page</head>

<body>
    <form action="/register" method="post">
        <div>
            <label>ID: </label>
            <input type="text" id="id" name="id">
        </div>

        <div>
            <label>PW: </label>
            <input type="text" id="pw" name="pw">
        </div>

        <div>
            <label>Email: </label>
            <input type="text" id="email" name="email">
        </div>

        <div class="button">
            <button type="submit">Submit</button>
        </div>
    </form>
    <form action="/register/idcheck" method="post">
        <div>
            <input type="text" id="id" name="id">
        </div>
        <div>
            <button type="submit">ID Dup check</button>
        </div>
    </form>
</body>

</html>